# Map all commit identities to kenansabljakovic
kenansabljakovic <kenan.sabljakovic@gmail.com> bonz88 <kenan.sabljakovic@gmail.com>
kenansabljakovic <kenan.sabljakovic@gmail.com> bonz88 <32900205+bonz88@users.noreply.github.com>
kenansabljakovic <kenan.sabljakovic@gmail.com> Kenan <32900205+bonz88@users.noreply.github.com>
kenansabljakovic <kenan.sabljakovic@gmail.com> Kenan <32900205+kenansabljakovic@users.noreply.github.com>
kenansabljakovic <kenan.sabljakovic@gmail.com> TELECOM\kenansa <kenan.sabljakovic@bhtelecom.ba>
kenansabljakovic <kenan.sabljakovic@gmail.com> Your Name <your.email@example.com>
